*,
*:before,
*:after {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

html {
  font-size: 16px;
}

body {
  background: url(../images/wdp-background.png) no-repeat center center fixed;
  -webkit-background-size: cover;
  -moz-background-size: cover;
  -o-background-size: cover;
  background-size: cover;
  overflow-x: hidden;
  font-family: "Quicksand", sans-serif;
  font-size: 1rem;
  color: rgb(28, 14, 78);
}

.title {
  text-align: center;
}

.sectionTitle {
  margin: 30px auto;
}

@media (max-width: 999px) {
  .title {
    font-size: 2rem;
    margin: 30px auto;
  }

  .favMeals,
  .letsPlan {
    margin: 20px auto;
  }
}

@media (min-width: 1000px) {
  .title {
    font-size: 4.5rem;
    margin: 50px;
  }
}

.gridContainer {
  margin: 0 20px;
}

@media (min-width: 1000px) {
  .gridContainer {
    backdrop-filter: blur(4px);
    display: grid;
    gap: 5vh 10vw;
    grid-template: repeat(2, auto) / 1fr 1fr;
    margin: 0 auto;
    padding: 0 50px 50px 50px;
    width: 70vw;
  }

  /* .letsPlan__select {
    width: 70%;
  } */
}

/* All boxes, inputs and selects styles */

.box {
  min-height: 30px;
  border-radius: 20px;
  border: none;
  font-family: "Quicksand", sans-serif;
  font-size: 1rem;
  color: rgb(28, 14, 78);
}

.btn {
  padding: 0 10px;
  background-color: rgba(241, 148, 138, 1);
}

.btn:active {
  background-color: rgb(143, 69, 60);
}

.btn:focus,
.btn:hover,
.letsPlan__select:focus,
.letsPlan__select:hover {
  outline: none;
  background-color: rgb(238, 195, 190);
  cursor: pointer;
}

.input {
  background-color: rgb(219, 213, 219);
  padding: 0 15px;
  width: 75%;
}

.input:focus,
.letsPlan__select:focus {
  outline: none;
  border: 1px solid rgb(0, 211, 141);
}

/* Favourite meals list section */
.favMeals__form {
  display: flex;
  justify-content: space-between;
}

.favMeals__input {
  width: 75%;
}

.favMeals__button {
  width: 20%;
}




.favMeals__ul {
  margin: 10px auto;
  padding: 0;
}

.favMeals__li {
  width: 100%;
  margin: 5px auto;
  padding: 5px 15px;
  display: flex;
  justify-content: space-between;
  align-items: center;
  background-color: rgba(191, 253, 250, 1);
  list-style-type: none;
  animation-duration: .2s;
}

.favMeals__deleteBtn {
  height: 10px;
  outline: none;
  border: none;
  background: transparent;
  cursor: pointer;
}

/* Let's plan section */

.letsPlan__grid {
  grid-template: repeat(7, 1fr) / auto 1fr;
  display: grid;
  gap: 5px 15px;
  align-items: center;
}

.letsPlan__select {
  background-color: #f1948a;
  padding-left: 10px;
  cursor: pointer;
  width: 100%;
  overflow: hidden;
  white-space: pre;
  text-overflow: ellipsis;
  -webkit-appearance: none;
}

.emailWrapper {
  margin: 15px 0;
  font-size: 0.8rem;
}

.form__p {
  font-size: 1.1rem;
  font-weight: bold;
  margin: 10px 0;
}

.form__email {
  margin: 5px;
}

.form__permission {
  margin: 10px auto;
}

.form__errorMsg {
  font-weight: bold;
}

.form__errorMsg:empty {
  display: none;
}

.form__status {
  margin: 0 10px;
}

/* getInspired section */
.getInspired {
  grid-column: 1 / span 2;
}

@media (min-width: 769px) {
  .getInspired__recipies {
    display: grid;
    grid-template-columns: repeat(3, 20vw);
    justify-items: center;
    justify-content: center;
    gap: 5px;
    margin: 20px auto;
  }

  .recipe {
    width: 18vw;
  }

  .recipe__img {
    width: 15vw;
  }

  .recipe__link {
    display: block;
  }
}

@media (min-width: 769px) and (max-width: 999px) {
  .getInspired__title,
  .getInspired__caption {
    text-align: center;
  }
}

.getInspired__title {
  margin-bottom: 0;
}

.getInspired__caption {
  font-size: 0.9rem;
}

.recipe {
  background: rgba(250, 128, 114, 0.3);
  margin: 20px;
  padding: 1vw;
  text-align: center;
}

.recipe__img {
  display: block;
  border-radius: 20px;
  margin: 10px auto;
}

.recipe__link {
  background: #057973;
  border-radius: 20px;
  color: white;
  font-size: 1.1rem;
  line-height: 1.5;
  margin: 5px auto;
  padding: 2px 6px;
  text-decoration: none;
}

.recipe__link:focus,
.recipe__link:hover {
  background: #47a39f;
}

.APIreadyIn,
.APIservings {
  font-weight: bold;
}
